// Variables
@import "variables";

*, *:before, *:after {
  box-sizing: border-box;
  outline: none;
  appearance: none;
  -webkit-overflow-scrolling: touch;
}

.hidden {
  display: none !important;
}

.schema {
  display: none !important;
}

body {
  display: flex;
  font-family: 'Open Sans', serif;
  background-color: var(--bg-main);
  font-size: var(--main-font-size);
  outline: none;
  color: var(--text-color);
}

html,
body,
#dnd5club,
.dnd5club {
  width: 100%;
  height: calc(100% - 0px);
  overflow: hidden auto;
}

button {
  background-color: transparent;
  border: 0;
  cursor: pointer;
}
